:root {
    --bg: #ebe8e8e3;
    --black: #121212;
    --blackv:rgba(18, 18, 18, 0.185);
    --pdx: 4em;
    --accent: #E9602C;
    --white: #F4F4F4;
}

body {
    background-color: var(--black);
    background-image: linear-gradient(to top right, var(--black), #ff950011);
    height: 100vh;
}

.linear {
    background-image: linear-gradient(to top right, var(--black), #ff950011);
}

.line {
    line-height: 1.2em;
}